<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>Books App</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body style="background-color:#4DB6AC;">


<br>
{% block content %}
<h2>
Libraries are collections of books and other informational materials. People come to libraries for reading, study or reference. Libraries contain a variety of materials. They contain printed materials, films, sound and video recordings, maps, photographs, computer software, online databases, and other media.
</h2>

	{% endfor %}
</div>
{% endblock %}
</body>
</html>
